body{
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    overflow-x: hidden;
}
.left-menu{
    background-color: #151515;
    border-radius: 20px;
    position: fixed;
    width:240px ;
    height: 98vh;
    color: white;
    padding: 10px;
}
.hello-user{
    display: flex;
    
}
.userimg{
    height: 70px;
    border-radius: 100px;
    margin-top: 30px;
    margin-left: 20px;
    float: left;
}
.verticalflex{
    display: flex;
    flex-direction:column;
}
#element{
     background-color: #242424; 
    margin-left: 10px;
    border-radius: 20px;
    text-align: center;
    width: 220px;
    margin: auto;
    padding-top: 30px ;
    padding-bottom:  30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-width: 0px;
    color: white;
    transition: color 0.4s , background-color 0.4s;
    margin-bottom: 10px;
}
#element:hover{
    color: black;
    background-color: white;
}
.headingtop{
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
     background-color: #151515; 
     color: white;
    border-radius: 20px;
    text-align: center;
    width: 1350px;
    margin-left:290px ;
}
#skeleton_expense,#skeleton_income,#skeleton_recommendations,#skeleton_graph,#skeleton_graph_inc{
    height: auto;
    padding: 30px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 290px;
     background-color: #151515; 
}
#skeleton_income,#skeleton_graph,#skeleton_graph_inc {
    display: none;
}
#skeleton_graph,#skeleton_graph_inc {
    padding: 30px;
    width: auto ;
    height: auto ;
    border: 1px solid #ccc;
    padding: 10px;
  }

  .bar,.bar_inc {
    width: 50%;
    height: 30px;
    margin: 10px;
    background-color: #007bff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 5px solid #fff;
  }
  .bar_inc{
    background-color: #89e156;
  }
.plus{
    height: 25px;
    width: 25px;
    font-size: large;
    background-color: #242424; 
    border: none;
    border-radius: 4px;
    margin-left:10px ;
    padding-top:3px ;
    transition: background-color 0.15s ;
}
.plus:hover{
    background-color: #242424c8;
}
.plus:active{
    background-color: #353535c8;
}
.expense{
    display: flex;
    padding: 30px;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #242424; 
}
.spend,.receive{
    width: 150px;
    color: #5388e3;
    text-align: center;
    margin-left: 50px;
}
.receive{
    color: #89e156;
}
.num{
    font-size: 60px;
    margin-top: 0px;
}
#incpopup,#exppopup{
    display: none;
    position: fixed;
    top: 120px;
    left: 38vw;
    z-index: 2;
    padding: 30px;
    border-radius: 20px;
    color: white;
    background-color: #353535c8;
    backdrop-filter: blur(20px);
    width: 350px;
    box-shadow: 5px 5px 10px rgb(32, 31, 31) ;
    padding-left: 30px;
}
.inputbox{
    margin: auto;
    margin-left: 20px;
    margin-bottom: 20px;
    transform: translateX(-12px);
    border-bottom: solid 2px #fff;
}  

.amount,select option{
    color: #fff;
    background-color: transparent;
    border: none;
    width:350px;
    height: 50px;
    font-size: 40px;
}
select option{
    font-size: 25px;
    background-color: #242424;
}
.amount:focus{
    outline: none;
}

.amount::placeholder {
    text-align: center;
    color: rgba(255, 255, 255, 0.615);
    font-weight: 500;
    font-size: 25px;
    opacity: 1; /* Firefox */
  }
  
 .amount :-ms-.input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.678);
    font-weight: 500;
    font-size: 25px;
  }
  .submit-button{
        font-size: large;
        margin-left: 100px;
        height: 40px;
        width:130px;
        background: none;
        border: solid 2px #fff;
        color: white;
        border-radius: 5px;
        box-shadow: none;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s, opacity 0.1s;
    }

    .submit-button:hover{
        background-color:white;
        border-color: transparent;
        color: black;
    }

    #blursheet{
        display: none;
        color: white;
        position: fixed;
        top: 0px;
        z-index: 1;
        left: 0px;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(20px);
      }
      #crypto-prices{
        display: flex;
        justify-content: center;
      }
      .flexcard{
        padding: 30px;
        display: inline-block;
        background-color: #242424;
        margin-right: 30px;
        border-radius: 30px;
      }
      .moveright{
        margin-left:100px ;
        font-size: 20px;
      }
      .github {
        height: 36px;
        width: 95px;
        background-color: rgb(46, 164, 79);
        border-radius: 6px;
        color: white;
        border: none;
        transition: opacity 0.15s;
        cursor: pointer;
        margin-left: 100px;
        margin-top: 20px;
        font-weight: bold;
      }
      .github:hover {
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
      }