*{
    box-sizing: border-box;
}

header{
    position: fixed;
    width : 100% ; 
    background-color: #36096d;
    background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
 
    float : left ; 
    z-index: 1;
}
.siteName{
    display : flex  ;
    justify-content: left ;
    align-items: center ; ; 
    float : left;
    font-size: larger;
    font-weight: bolder;
    width : 30%; 
    height: 50px ; 

    
}

.headerRight{
    display: flex;
    float : right   ; 
    align-items: center;
    justify-content: right ;
    width : 30%; 
    height: 50px ; 
    padding: 6px ;
 
}

.nameIndex{
    display: flex;
    justify-content: center;
    align-items: center;
    height :40px;
    width : 40px ;
    background-color: chocolate;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
    border-radius: 50%;
   
}

.userName{
    margin-left : 4px ;
    font-size: x-large;
    font-weight: bolder;
    font-family :monospace ;
    
}

.leftTabs{
    position: fixed;
    top :  60px ; 
    float : left ; 
    border : 1px solid black ; 
    height:  100%;
    width: 320px ;;
   background-color: #1fd1f9;
    background-image: linear-gradient(315deg,#b621fe 0%, #1fd1f9  74%);


}

.leftTabs button{
    width : 100% ; 
    padding : 5px ;
    font-size: larger;
    font-weight: bolder;
    font-family: monospace;
    background-color: rgba(127, 255, 212, 0.265); 
    border : none ; 
    transition: 0.5s;
    margin-bottom : 5px ; 
}

.leftTabs button:hover{
    background-color: rgba(5, 98, 67, 0.5); 
    border-bottom : 2px solid black  ; 

}
.settings , .theme{
    transition: 0.5s ease-in-out;
}
.subSettings , .subtheme{
    display: none;
}
/*
////////////////////
switches 
///////////////////
*/
.main,.TodoMainBox{
    position: absolute;
    top : 80px ; 
    margin-left: 25% ;
    width: 80%;
    z-index: -1;
}

#TodoMainBox{
    display: none ;
}
#calenderBox{
    display : none ; 
}
/*
////////////////////
NOTES AND TODO MIXED !!!!!!!!!!!!!!
///////////////////
*/
.addNotes{
    width : 100px ; 
    height : 150px ; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    
}
.headAndAdd{
    display: flex;
    height : 100px ; 
}
.addNotesbutton{
    float : left ; 
    height: 50px ;
    margin : 2px ;
    margin-left : 8px ; 
    margin-top : 10px ;  
    padding : 5px ; 
    background-color: #0cb9e0;
    color : white ; 
    border : none ; 
    transition: 0.3s;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    border: 1px solid black ;
}
.addNotesbutton:hover {
    padding : 7px ; 
    background-color: #067a94;

}

.notesTitle,.todoTitle{
    background-color: red;
    color : white ; 
    width : 90% ;
    margin-bottom : 7px  ; 
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: bolder;
}
.notesTitle::placeholder,.todoTitle::placeholder{
    color : white ;
}

.notesTextarea{
    width : 90% ; 
    border-radius: 5% ;
    background-color: antiquewhite;
    transition: 0.3s;
    text-align: center;
    box-shadow: black 5px 5px 15px ;
}

.notesTextarea:hover{
    background-color:  rgb(238, 213, 179);
    outline: 3px solid black ;
    
}

.deletebutton,.todoadd{
    width : 45% ;
    padding: 5px ;
    background-color: red;
    color : white ;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    transition: 0.3s;
}
.deletebutton:hover,.todoadd:hover{
    
    padding: 6px ;
    background-color: rgb(185, 8, 8);

}
.starbutton,.starbuttonTodo{
    width : 45% ;
    padding: 5px ;
    background-color: rgb(185, 185, 7);
    color : white ;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    transition: 0.3s;
}
.starbutton:hover,.starbuttonTodo:hover{
    
    padding: 6px ;
    background-color: rgb(195, 195, 10);

}
form{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: auto ;
    margin-bottom: 10px;
    width : 50% ; 
}

/*
////////////////////
TO DO 
///////////////////
*/

.todoForm{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: auto ;
    margin-bottom: 10px;
    width : 80% ; 
    border : 2px solid black ; 
}

.todoTitle{
    width : 100% ;
}
.todoadd{
    width : 50% ; 
    background-color : green ;
    color : white ;  
}
.todoadd:hover{
    background-color : rgb(30, 180, 30) ;
}
.starbuttonTodo{
    width: 50% ;
}

/*
---------------------
Calender
---------------------
*/

#calenderContainer{
    display: flex ;
    justify-content: center;
    align-items : center ;
    margin: auto ;

 
}

iframe{
    
    margin-top : 80px ; 
}