body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/BG\ for\ login\ _\ resized.jpg");
    background-size: cover;
    overflow-y: hidden;
}
.top_links{
    text-decoration: none;
    margin-left: 50px;
    color: #fff;
}
.navbar{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: large;
}
.navbar a::after{
    content: '';
    height: 2px ;
    width: 0%;
    background-color: white ;
    transition: 0.5s ease-in-out ;
}

.navbar a:hover::after{
    content: '';
    height: 2px ;
    width: 100%;
    background-color: white ;
}

.login_button,.login_button_2{
    font-size: large;
    margin-left: 50px;
    height: 40px;
    width:130px;
    background: none;
    border: solid 2px #fff;
    color: white;
    border-radius: 5px;
    box-shadow: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, opacity 0.1s;
}
.login_button:hover,.login_button_2:hover{
    background-color:white;
    border-color: transparent;
    color: rgba(72, 72, 72, 0.862);
}
.login_button:active,.login_button_2:active{
    opacity: 0.7;
}
.loginbox{
    backdrop-filter: blur(20px);
    border: solid 1px #fff;
    height: 450px;
    width: 350px;
    border-radius: 20px;
    padding: 50px;
    padding-top: 30px;
    margin: auto;
    margin-top: 110px;
}

#holder{
    position: absolute;
    left: 60px;
    transform: translateY(28px);
}

.input_text{
    background-color: transparent;
    border: none;
    padding: 20px;
    width: 300px;
    margin-left: 10px;
    border: none;
}
.input_text:focus{
    outline: none;
}
.inputbox{
    margin-bottom: 20px;
    border-bottom: solid 2px #fff;
}
.input_text::placeholder {
    color: black;
    opacity: 1; /* Firefox */
  }
  
 .input_text :-ms-.input-placeholder { /* Internet Explorer 10-11 */
   color: black;
  }
  
  .vertical_center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .login_button_2{
    margin: auto;
    margin-left: 25px;
    margin-top: 20px; 
    height: 50px;
    width: 300px;
  }
